<div class="form-inline">
  <div class="nested-fields">
    <%= f.input :step, placeholder: "Step", label: false , input_html: { class: "form-control", style: "width:250px;"} %>
    <%= link_to_remove_association "Remove Step", f, class: "form-button btn btn-default", style: "float:right;" %>
    <br>
    <br>
  </div>
</div>