

  <div id="banner">
    <div class="banner_content">
      <%= image_tag( 'whitelogo.svg') %>
      <p>Finding & Sharing Recipes Has Never Been Easier!</p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %>
    </div>
  </div>






<div id="callouts">
    <div class="callout_inner">
      <h2>The Social Solution to Cooking!</h2>
      <div class="wrapper">
        <div class="callout">
          <i class="fa fa-share-square-o fa-3x"></i>
          <p>At Open Recipea users can share their favorite recipes with each other. Other users are then able to rate and comment on the recipes in order to discuss what could be changed with the recipe. Users can also like the recipes shared in order to add it to their Cook Book so that they have it saved.</p> 
        </div>

        <div class="callout">
           <i class="fa fa-user-plus fa-3x"></i>
           <p >Users are also able to follow each other incase their is another user whose recipes you really enjoy. By following a user your timeline will be automatically updated anytime any of the users you are following creates a new recipe. This way you can stay up-to-date with all of the new recipes your favorite users post.</p>
        </div>

        <div class="callout">
          <i class="fa fa-users fa-3x"></i>
         <p>Users who mutually follow each other are then considered "Family". What this means is that both users are able to view each others "Family Recipes" in their Timelines and their Profile Pages. Users can also like these family recipes in order to add them to their own Cook Book.</p> 
        </div>
      </div>
    </div>
  </div>




<div id="messhall">
    <div class="callout_inner">
      <h3>The Mess Hall</h3>
      <p style="padding-left: 15%; padding-right: 15%;">Thanks to our Mess Hall finding new recipes has never been easier! When a user visits the Mess Hall they will be presented with 12 random recipes along with some of the recipe info such as how many likes and reviews it has. They will also be able to see the average rating out of 5 stars the recipe has recived. If you see a recipe you are interested in just click like and it will be added to your cook book! If none of the recipes catch your eye just click the "New Recipes" button at the bottom of the screen and you will be presented with 12 new recipes. You can also narrow your search by only being presented with recipes from a selected category. You are automatically taken to the Mess Hall upon logging in.</p>
    </div>
  </div>

  <div id="bottom_cta">
    <div class="wrapper">
      <i class="fa fa-book fa-4x"></i>
      <h2>The Cook Book</h2>
      <br>
      <p style="padding-left: 15%; padding-right: 15%;"> At Open Recipea each user has their very own Cook Book that is made up of all the recipes they have created or liked on Open Recipea. This way you are able to have all of your favorite recipes in one place. Users can easily sort for recipes in their Cook Book using Categories. These categories include, Baking & Pastries, Breakfest, Soups & Salads, Snacks, Appetizers, Entrees, Desserts & Sweets, Beverages - Non Alcoholic and Beverages - Alcoholic. Keep in mind other users can see your Cook Book on your Profile Page, so any recipes you do not wish to share you need to make sure to set their privacy to "private".</p>
    </div>
  </div>




  <div id="callouts1">
    <div class="callout_inner">
      <div class="wrapper">
        <div class="callout">
          <i class="fa fa-cloud fa-3x"></i>
          <p>The Cloud Solution for Cook Books. Never lose track of your recipes again by storing all of them in the cloud! Thanks to our mobile friendly website you will be able to search and access your recipes on any kind of device!</p>
        </div>

        <div class="callout">
          <i class="fa fa-sort-amount-desc fa-3x"></i>
          <p>Easily sort through your recipes! Thanks to our categories your Cook Book will always remain organized and you will be able to search for different recipes based on their categories such as "snacks" or "entrees". And remember, if you ever cant find what you are looking for just search for it using the searchbar on top of the screen!</p>
        </div>

        <div class="callout">
          <i class="fa fa-lock fa-3x"></i>
          <p>At Open Recipea you have the power to choose who is able to view your recipes. You can choose to share it with every one, you can choose to keep it private, or you can choose to make it a "Family Recipe" which means only users who mutally follow each other will be able to see the recipe.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="bottom_cta">
    <div class="wrapper">
      <h2>Sign Up Today!</h2>
      <br>
      <p style="padding-left: 15%; padding-right: 15%;">If you are looking to share your recipes with the world or if you are just looking to share your recipes with your friends and family, Open Recipea is for you! Now you will easily be able to share all of your recipes with any one and every one who is trying to get a hold of them. Now anytime some one asks you for a recipe, you can tell them to find it on your Open Recipea Page!</p>
      <%= link_to "Start Today!", new_user_registration_path, class: "btn btn-default" %>
    </div>
  </div>
  <br>
  <footer style="text-align:center;">&copy; Open Recipea</footer>
<br>