<div class="container"> 
  <div id="edit_recipe_info" style="width: 328px; margin-top:50px; margin-top:50px; margin-left:auto; margin-right:auto;">
    <h1 style="text-align:center;">Edit Review</h1>

    <%= render 'form' %>
    <br>
    <div style="text-align:center;">
      <%= link_to 'Back', recipe_path(@recipe), class: "btn btn-default" %>
    </div>
  </div>
</div>